.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.center{
  display: flex;
  justify-content: center;
}

button{
  cursor: pointer;
}

.particle{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.pa2{
  height: 35px;
}
